html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Audiowide", sans-serif;
    color: aliceblue;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 6px solid white;
}
  